body {
    background-color: #333;
    color: #ddd;
    font-family: "Pixelify Sans", sans-serif; /* ドット絵風フォント */
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    margin: 0 auto;
    background-color: #555;
    padding: 20px;
}

header {
    text-align: center;
    border-bottom: 2px solid #888;
    padding-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}
nav form {
    display: inline;
}

button {
    background-color: #888;
    color: #ddd;
}

a {
    color: #ddd;
    text-decoration: none;
}

a:visited {
    color: #ddd;
}
a:active {
    color: #ddd;
}

main {
    padding: 20px 0;
}

article {
    border: 2px solid #888;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 20px #888;
}

.status {
    background-color: #444;
    padding: 10px;
    margin-top: 10px;
}

.item {
    background-color: #444;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

footer {
    text-align: center;
    border-top: 2px solid #888;
    padding-top: 10px;
}
